<a href="{{ pathPrefix }}realizar-pagos/" class="payment-notification" aria-label="Registra tu pago">
    <div class="payment-notification-content">
        <span class="payment-title">¿Eres cliente ProRed?</span>
        <span class="payment-action">Registra tu pago <i class="fas fa-chevron-right"></i></span>
    </div>
    <div class="payment-icon">
        <i class="fas fa-file-invoice-dollar"></i>
    </div>
    <div class="payment-progress-bar"></div>
</a>
